<div class="top-bar">
  <div class="button-group">
    <button>Iniciar sesión</button>
    <button>Registrarse</button>
  </div>
</div>

<!--<mat-form-field class="example-full-width">-->

<form  class="form-container">
  <div class="formform">

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Cantidad a Formular</mat-label>
      <input matInput type="number" min="0" (input)="onChangeValue($event)" placeholder="kilogramos">
    </mat-form-field>


    <div class="etapa_especie">

      <app-searchespecie-inp class="especie"></app-searchespecie-inp>

      <app-searchetapa-inp class="etapa"></app-searchetapa-inp>
      
    </div>

    <app-searchingrediente-inp></app-searchingrediente-inp>

    <div class="button-group">
      <button mat-raised-button color="primary">Formular</button>
      <button mat-button color="warn">Limpiar</button>
    </div>
  </div>

  <div class="right-side-box">
    

        <table class="info-table">
          <!-- Cantidad -->
          <tr>
            <td class="tags">Cantidad:</td>
            <td class="tags-value">{{ peso }} Kg</td>
          </tr>
    
          <!-- Especie -->
          <tr>
            <td class="tags">Especie:</td>
            <td class="tags-value">{{ selectedEspecie.nombre }}</td>
          </tr>
    
          <!-- Etapa -->
          <tr>
            <td class="tags">Etapa:</td>
            <td class="tags-value">{{ selectedEtapa.nombre_etapa}}</td>
          </tr>
        </table>
    
        <!-- Ingredientes -->
        <div class="ingredients-section">
          <h3>Ingredientes:</h3>
          
          <mat-list class="small-list">
            @for (item of selectedIngredientes; track $index) {
              <mat-list-item class="small-item">{{item.Nombre_Ingrediente}}</mat-list-item>
            }
           </mat-list>
    
          <!-- Si hay muchos ingredientes, mostrar como tabla -->
         
        </div>
   
    


  </div>
</form>