.form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;  /* El ancho máximo del contenedor principal */
  margin: 40px auto;  /* Centrado automático con margen superior e inferior */
  padding: 40px;  /* Aumenté el relleno para más espacio */
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  border: 1px solid #ddd;
}

.full-width {
  width: 100%;
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.right-side-box {
  width: 50%; /* El cuadro de información ocupa el 50% del contenedor principal */
  padding: 40px;  /* Aumenté el relleno para más espacio */
  height: 250px;
  background: hsl(0, 0%, 97%);
  border-radius: 12px;
  border: 1px solid #ddd;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

button {
  min-width: 120px;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 6px;
}
