.form-data {
  position: relative;
  width: 40%;
  margin-left: 4%;
  padding: 10px;
  border-bottom: none; /* Eliminamos la línea horizontal inferior */
}

.example-full-width {
  width: 100%;
  margin-bottom: 15px;
}

.etapa_especie{
  display: flex;
}

.especie{
  flex: 0.8;
}

.etapa{
  flex: 0.2;
}

/* Añadimos la línea vertical */
.form-data::before {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  width: 1px;
  background-color: #ccc;
}