<div class="top-bar">
  <div class="button-group">
    <button>Iniciar sesión</button>
    <button>Registrarse</button>
  </div>
</div>

<form class="form-container">
  <div>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Cantidad a Formular</mat-label>
      <input matInput type="number" placeholder="Kilogramos" [(ngModel)]="cantidad" name="cantidad">
    </mat-form-field>

    <div class="form-row">
      <app-searchespecie-inp [(ngModel)]="especie" name="especie"></app-searchespecie-inp>
      <app-searchetapa-inp [(ngModel)]="etapa" name="etapa"></app-searchetapa-inp>
    </div>

    <app-searchingrediente-inp [(ngModel)]="ingrediente" name="ingrediente"></app-searchingrediente-inp>

    <div class="button-group">
      <button mat-raised-button color="primary">Formular</button>
      <button mat-button color="warn">Limpiar</button>
    </div>
  </div>

  <div class="right-side-box">
    <h3>Información adicional</h3>
    <p>Este es un cuadro grande en la parte derecha. Puedes añadir más contenido aquí.</p>
  </div>
</form>
