.field_ingrediente{
    width: 100%;
}
.list_card {
    height: 4vh;
    display: flex;
    align-items: center;   /* Alinea verticalmente los elementos */
    gap: 10px;             /* Espacio entre los elementos */
  }
  
  .list_ingrediente {
    flex: 1;               /* Hace que ocupe el espacio disponible */
  }
  
  .field_price {
    flex: 0.40;               /* Hace que ocupe el espacio disponible */
    padding-top: 20px;

  }
  
.ingredient-card {
  margin-bottom: 8px;
  border-radius: 8px;
}

.ingredient-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
}

.ingredient-name {
  font-weight: 500;
}

.remove-button {
  margin-left: 16px;
}

.chip-list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
  