<mat-form-field class="field_ingrediente">
    <mat-label>Ingrediente</mat-label>
    <input type="text"
           placeholder="Buscar"
           aria-label="Ingrediente"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
           <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
      @for (option of filteredOptions | async; track option) {
        <mat-option [value]="option">{{option.Nombre_Ingrediente}}</mat-option>
      }
    </mat-autocomplete>

    <div class="selected-items">
      @for (item of selectedIngredientes; track $index) {
        <mat-chip [removable]="true" (removed)="removeItem(item)">
          {{ item.Nombre_Ingrediente }}
          <mat-icon matChipRemove>close</mat-icon>
        </mat-chip>
      }
    </div>
  </mat-form-field>

  
  <div>
    <mat-list #ingrediente>
      @for (ingrediente of selectedIngredientes; track ingrediente) {
        <mat-card appearance="outlined">
          <mat-card-content class="list_card">

            <mat-checkbox (change)="removeItem(ingrediente)" class="example-margin" [checked]="true"></mat-checkbox>
            
            <mat-list-item class="list_ingrediente"  >
              {{ingrediente.Nombre_Ingrediente}}
              {{ ingrediente.ALMIDON____}}
              {{ingrediente.ARG____}}
            </mat-list-item>
            
            <mat-form-field class="field_price" >
              <input 
              type="number"
              placeholder="Precio/kg"
              aria-label="Precio"
              matInput
              >

            </mat-form-field>

          </mat-card-content>
        </mat-card>
 
      }
    
    </mat-list>
  </div>

