<mat-form-field appearance="outline" class="field_ingrediente">
    <mat-label>Ingrediente</mat-label>
    <mat-icon matPrefix style="color: #4CAF50;">inventory_2</mat-icon>
    <input type="text"
           placeholder="Buscar"
           aria-label="Ingrediente"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
           <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onShowInputPrice($event)">
      @for (option of filteredOptions | async; track option) {
        <mat-option [value]="option">{{option.Nombre_Ingrediente}}</mat-option>
      }
    </mat-autocomplete>

    <div class="selected-items">
      @for (item of ingredientesConPrecio; track $index) {
        <mat-chip [removable]="true" (removed)="removeItem(item)">
          {{ item.Nombre_Ingrediente }}
          <mat-icon matChipRemove>close</mat-icon>
        </mat-chip>
      }
    </div>
  </mat-form-field>

  
  <div>
    <mat-list #ingrediente>
      @for (ingrediente of ingredientesConPrecio; track ingrediente) {
        <mat-card appearance="outlined">
          <mat-card-content class="list_card">

            <mat-checkbox (change)="removeItem(ingrediente)" class="example-margin" [checked]="true"></mat-checkbox>
            
            <mat-list-item class="list_ingrediente"  >
              {{ingrediente.Nombre_Ingrediente}}

              <span>Precio: {{ingrediente.precio}} $/Kg</span>
              
            </mat-list-item>


          </mat-card-content>
        </mat-card>
 
      }
    
    </mat-list>
  </div>

