.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../../../../assets/imagenes/logo3.png');
  background-size: cover;
  background-position: center;
}

.login-card {
  width: 400px;
  padding: 20px;
  text-align: center;
  background: rgba(255,255,255,1);
  background-image: url('../../../../assets/imagenes/atomos.png');
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  box-shadow: 0 4px 24px rgba(0,0,0,0.08);
}

.full-width {
  width: 100%;
  margin-bottom: 15px;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.forgot-password {
  color: #1976d2;
  cursor: pointer;
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4285F4;
  color: white;
}
.google-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.google-icon {
  width: 20px;
  margin-right: 10px;
}

.signup-text {
  margin-top: 15px;
}

.signup-link {
  color: #1976d2;
  cursor: pointer;
}
