<div class="forgot-password-container">
    <div class="logo-container">
        <img class="logo" src="assets/imagenes/LOGOTIPO UNL_Mesa de trabajo 1.png" alt="Logotipo UNL">
    </div>
    <mat-card class="forgot-password-card">
      <mat-card-content>
        <h1 class="title">Recuperar Contraseña</h1>
  
        <form>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Correo electrónico</mat-label>
            <mat-icon matPrefix>email</mat-icon>
            <input matInput type="email" placeholder="Ingresa tu correo electrónico">
          </mat-form-field>
  
          <button mat-raised-button color="accent" class="full-width">
            <mat-icon>send</mat-icon>
            Enviar enlace de recuperación
          </button>
        </form>
  
        <p class="login-text">
          ¿Ya tienes una cuenta? 
          <a href="/login" class="login-link">Inicia sesión</a>
        </p>
      </mat-card-content>
    </mat-card>
    <div class="bottom-right-logo-container">
        <img class="bottom-right-logo" src="assets/imagenes/Imagen de WhatsApp 2025-05-01 a las 13.56.17_52ae34a2.jpg" alt="Bottom Right Logo">
    </div>
  </div>
  