.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    position: relative;
    background-image: url('../../../../assets/imagenes/atomos.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .forgot-password-card {
    width: 400px;
    padding: 20px;
    text-align: center;
  }
  
  .logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  
  .logo {
    width: 250px;
  }
  
  .bottom-right-logo-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
  
  .bottom-right-logo {
    width: 200px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
  }
  
  .full-width {
    width: 100%;
    margin-top: 10px;
  }
  
  .mat-form-field {
    display: flex;
    align-items: center;
  }
  
  mat-icon {
    margin-right: 5px;
    color: #79ccac;
  }
  
  button mat-icon {
    margin-right: 8px;
  }
  
  .login-text {
    margin-top: 15px;
    font-size: 14px;
  }
  
  .login-link {
    color: #4093ff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .login-link:hover {
    text-decoration: underline;
  }
  